@model HappyDeco.Models.ProjetViewModel


@{
    ViewBag.Title = "Realisations";
}

<h2>Realisations</h2>
<div class="row">


    @foreach (HappyDeco.Models.ProjetModel item in Model.ProjetModels)
    {
        <div class="col-md-4">

            <div class="item-box-blog">
                <!--Image-->
                <div class="imghvr-push-up figure ">
                    <img src="/images/portfolio/@item.Image" alt="example-image">
                    <div class="figcaption">
                        <i class="fa fa-quote-left"></i>
                        <p>@item.Description</p>

                        
                        <a class="@ViewBag.Profil" href="/Profile/Profil">Contacter le client  </a>
                    </div>
                    <div class="item-box-blog-body">
                        <h5>@item.Nom</h5>
                        <p>Description: @item.Description</p>
                        <p>Description: @item.Budget euros</p>
                        <p>Statut: @item.Statut</p>
                        <p>Mail: @item.Email</p>




                    </div>
                </div>
            </div>

        </div>

    }
  

</div>
