<!doctype html>
<html lang="en">

<!-- Mirrored from sbtechnosoft.com/nirmanpro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Feb 2021 09:27:09 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Happy Deco</title>
   @Styles.Render("~/Content/css")
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>
<body>
    <!-- Pre Loader -->
    <div id="dvLoading"></div>
    <div class="wrapper">
        <!-- Header -->
        <div class="header-area">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 text-lg-left text-md-center">
                            <p><i class="fa fa-phone"></i>Call Us: <a href="tel:+07554332322">+07 554 332 322</a></p>
                            <p><i class="fa fa-envelope"></i><a href="mailto:info@happydeco.com">info@happydeco.com</a></p>
                        </div>
                        <div class="col-lg-6 col-md-12 text-md-center">
                            <div class="topbar-right">
                                <p><i class="fa fa-clock-o"></i>SUN-MON, 9:45AM</p>
                                <div class="topbar-soc">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-skype"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logobar header-bottom">
                <div class="container">
                    <div class="row header-border align-items-center justify-content-between">
                        <div class="col-md-12">
                            <a class="site-logo site-title" href="index-2.html"><img src="/images/logo.png" alt="site-logo"></a>
                            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="fa fa-bars"></span> </button>
                            <nav class="navbar navbar-expand-lg p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav main-menu ml-auto">
                                        <li><a class="ViewBag.Home" href="/Home/Index">Home</a> </li>
                                        <li><a class="ViewBag.About" href="/Home/About">Comment ça marche</a></li>
                                        <li><a class="ViewBag.Offres" href="/Home/Offres">Offres</a></li>
                                        <li><a class="ViewBag.Realisations" href="/Home/Realisations">Realisations</a></li>
                                        <li><a class="ViewBag.Contact" href="/Home/Contact">Contact Us</a></li>
                                        @if (HappyDeco.Infra.SessionUtil.IsLogged)
                                        {
                                            <li><a class="@ViewBag.Contact" href="/Account/Logout">Logout</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="@ViewBag.Contact" href="/Account/Login">LOGIN</a></li>
                                        }

                                    </ul>
                                    <div class="search-bar">
                                        <div class="search-box-item">
                                            <i class="search-btn ti-search"></i> <i class="close-btn ti-close"></i>
                                            <div class="search-overlay search-popup">
                                                <div class='search-box'>
                                                    <form class="search-form">
                                                        <input class="search-input" name="search" placeholder="Search" type="text">
                                                        <button class="search-button" type="submit"> <i class="ti-search"></i> </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="request-quote-btn d-none d-lg-block"> <a class="open-popup-link" href="#quote-popup">connexion </a> </div>
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <!--  Starts Footer Top Section  -->
        <section class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="footer-sec">
                            <h5>WHO WE ARE</h5>
                            <div class="footer-logo"><img src="/images/footer-logo.png" alt="" /></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliquea. Ut enim ad minim veniam.</p>
                            <form>
                                <input id="userid" type="email" name="email" class="form-control" placeholder="Subscribe Now">
                                <button><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-5 mt-lg-0">
                        <div class="footer-sec">
                            <h5>QUICK LINKS</h5>
                            <div class="footer-top-list">
                                <ul>
                                    <li><a href="javascript:void(0)">About Us</a></li>
                                    <li><a href="javascript:void(0)">Services</a></li>
                                    <li><a href="javascript:void(0)">Projects</a></li>
                                    <li><a href="javascript:void(0)">Packages</a></li>
                                    <li><a href="javascript:void(0)">Blog</a></li>
                                    <li><a href="javascript:void(0)">Contact Us</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:void(0)">Building</a></li>
                                    <li><a href="javascript:void(0)">Architecture</a></li>
                                    <li><a href="javascript:void(0)">Interior</a></li>
                                    <li><a href="javascript:void(0)">Renovation</a></li>
                                    <li><a href="javascript:void(0)">Plan & Design</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-4 mt-lg-0">
                        <div class="footer-sec">
                            <h5>GET IN TOUCH</h5>
                            <div class="address-col">
                                <h6 class="location-icon">ADDRESS</h6>
                                <p>
                                    2602 Powder House Road,<br />
                                    West Palm Beach, FL 63410
                                </p>
                                <h6 class="call-icon">PHONE</h6>
                                <p>+135-780-8031 / +635-428-0157</p>
                                <h6 class="mail-icon">EMAIL ID</h6>
                                <p>info@sbtechnosoft.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  End Footer Top Section  -->
        <!--  Starts Footer Section  -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">&copy; <span id="year"></span> Nirmanpro. Designed By Pauline</div>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--  End Footer Section  -->
        <a id="button"></a>
    </div>
    <!-- jQuery Min JS -->
   @Scripts.Render("~/Bundles/scripts")
    @RenderSection("MoreScripts",false)
</body>

<!-- Mirrored from sbtechnosoft.com/nirmanpro/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 10 Feb 2021 09:27:09 GMT -->
</html>

